:root {
  --numHours: 10;
  --timeHeight: 60px;
  --user1Color: #f4cccc;
  --user2Color: #f29b6a;
  --user3Color: #cfe2f3;
  --timelineWidth: 60px;
  --dayWidth: calc((100% - var(--timelineWidth)) / 5);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: var(--timelineWidth);
  text-align: center;
  padding-top: 1rem;
  border-right: 1px solid #ddd;
}

.time {
  height: var(--timeHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: #666;
}

.days {
  display: flex;
  flex: 1;
  gap: 10px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: var(--dayWidth);
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-num {
  font-size: 2rem;
  font-weight: bold;
}

.date-day {
  font-size: 1.2rem;
  font-weight: 700;
  color: #666;
  margin-left: 10px;
}

.events {
  position: relative;
  height: calc(var(--numHours) * var(--timeHeight));
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #96af9c49;
}

.event {
  position: absolute;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  width: 90%;
  margin-left: 5%;
}

.user1 {
  background: var(--user1Color);
}

.user2 {
  background: var(--user2Color);
}

.user3 {
  background: var(--user3Color);
}

/* Modal styles */
.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 40vw;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #999;
  font-size: 24px;
}

.close:hover {
  color: #555;
}

.add-event-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #b79ec6;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.add-event-btn:hover {
  background-color: #a18fc0;
}

#event-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="time"],
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #b79ec6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #a18fc0;
}

@media only screen and (max-width: 480px) {
  .add-event-btn {
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
